/* ===== Primary ===== */

$primary: #85002D;
$primary-dark: #5E001F;
$primary-light: #B0003A;

/* ===== Secondary ===== */

$secondary: #D4AF37;
$bg-light: #F8F9FA;
$text-dark: #212529;

/* ===== Extra ===== */

$white: #FFFFFF;
$black: #000000;
$border: #E9ECEF;