.navbar {

    padding:12px 0;

    background:#faf7f2 !important;

    border-bottom:1px solid #e7dfd8;

}



.navbar-brand {

    color:#7f0e3d;

    font-size:1.3rem;

}



.navbar-brand span {

    color:#7f0e3d;

}




.nav-link {

    color:#241f21;

    font-weight:500;

    margin:0 10px;

    position:relative;

    cursor:pointer;

    transition:.3s;

}




.nav-link:hover,
.nav-link.active {

    color:#7f0e3d;

}




.nav-link::after {

    content:"";

    position:absolute;

    bottom:-5px;

    left:0;

    width:0;

    height:2px;

    background:#c8a24a;

    transition:.3s;

}



.nav-link:hover::after,
.nav-link.active::after {

    width:100%;

}




/* Dropdown */


.dropdown-custom {

    position:relative;

}



.dropdown-menu-custom {

    position:absolute;

    top:45px;

    left:0;

    width:280px;

    background:#fff;

    list-style:none;

    padding:10px 0;

    margin:0;

    border-radius:12px;

    border:1px solid #e7dfd8;

    box-shadow:0 15px 35px rgba(36,31,33,.15);

    opacity:0;

    visibility:hidden;

    transform:translateY(15px);

    transition:.25s;

    z-index:9999;

}



.dropdown-menu-custom.show {

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}




.dropdown-item {

    display:block;

    padding:12px 20px;

    color:#241f21;

    text-decoration:none;

    transition:.2s;

}



.dropdown-item:hover {

    background:#7f0e3d;

    color:white;

}




/* Button */


.btn-primary {

    background:#7f0e3d;

    border:none;

}



.btn-primary:hover {

    background:#5c0a2c;

    transform:translateY(-2px);

}



.btn {

    border-radius:12px;

    font-weight:600;

}