.footer {

    background:#5c0a2c;

    color:white;

}



/* Social Bar */

.social-bar {

    background:#3d061d;

    padding:20px 0;

}



.social-icons {

    display:flex;

    justify-content:center;

    gap:18px;

}



.social-icons a {

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#7f0e3d;

    color:white;

    text-decoration:none;

    transition:.3s;

    font-size:18px;

}



.social-icons a:hover {

    background:#c8a24a;

    color:#5c0a2c;

    transform:translateY(-5px);

}




.footer h5 {

    margin-bottom:20px;

    font-weight:700;

    color:#fff;

}




.footer ul {

    padding:0;

    list-style:none;

}



.footer li {

    margin-bottom:12px;

}



.footer a {

    color:#e7dfd8;

    text-decoration:none;

    transition:.3s;

}



.footer a:hover {

    color:#c8a24a;

    padding-left:6px;

}



/* Logo */


.logo {

    width:180px;

}




/* Bottom */

.bottom {

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}



hr {

    border-color:rgba(255,255,255,.15);

}
/* =========================
        RESPONSIVE FOOTER
========================= */


@media (max-width: 991px) {


    .footer .container {

        text-align:center;

    }


    .footer h5 {

        margin-top:25px;

    }


    .footer ul {

        display:inline-block;

    }


    .social-icons {

        gap:12px;

    }


    .logo {

        width:160px;

        margin:auto;

    }


}



/* Mobile */

@media (max-width: 767px) {


    .social-bar {

        padding:15px 0;

    }


    .social-icons a {

        width:40px;

        height:40px;

        font-size:16px;

    } 

    .footer {

        text-align:center;

    }



    .footer li {

        margin-bottom:10px;

    }



    .bottom {

        flex-direction:column;

        gap:15px;

        text-align:center;

        padding:20px 0;

    }



    .bottom p {

        margin:0;

        font-size:.9rem;

    }



    hr {

        margin:20px 0;

    }


}